# This is the file containing information about all lists.
# The syntax is as follows:
#
# set name
# - item 1
# - item 2
# [condition]- item 3
# - item 4 {variable}

basic
- [ ] peněženka
- [ ] klíče
- [ ] mobilní telefon + nabíječka
- [ ] Letherman nůž
- [ ] hygiena
	- [ ] kartáček
	- [ ] zubní pasta
	- [ ] šampón
	- [ ] ručník
	- [ ] hřeben
	- [ ] balzám na rty
	- [ ] krém na kůži
	- [ ] igelitka na špinavé oblečení
- [ ] {počet dní}x ponožky, {počet dní}x trenky, {počet dní}x tričko
- [ ] mikina
- [ ] bunda
- [ ] kšiltovka

indoor
- [ ] pohodlné oblečení
- [ ] přezuvky

elektronika
- [ ] notebook + nabíječka + pero
- [ ] powerbanka
- [ ] kabeláž (Micro USB, USB-C)
- [ ] sluchátka
[lan party]- [ ] roz-n-ka
[lan party]- [ ] Nintendo

outdoor
- [ ] čepice
- [ ] lehké rukavice
- [ ] pevné boty
- [ ] teplé oblečení
[noc]- [ ] reflexní prvky
[noc]- [ ] baterka/čelovka
[déšť]- [ ] pláštěnka
[slunce]- [ ] opalovací krém
[slunce]- [ ] tmavé brýle
[plavání]- [ ] plavky (+ ručník)

lyžování
- [ ] páteřák
- [ ] zimní mikina, bunda, kalhoty
- [ ] 2x tlusté ponožky
- [ ] 2x rukavice
- [ ] nákrčník
- [ ] 2x kukla
- [ ] termoprádlo
- [ ] lyžařská helma, brýle
- [ ] snowboard + boty
- [ ] tyčinky/čokoláda
- [ ] termoska + čaj
