# This is the file containing information about all lists.
# The syntax is as follows:
#
# set name
# - lines...
#
# where lines could contain conditions:
# [condition]- stuff...
#
# and variables:
# - stuff... {variable}

basic
- [ ] peněženka
- [ ] klíče
- [ ] mobilní telefon
- [ ] Letherman nůž
- [ ] hygiena
	- [ ] balzám na rty
	- [ ] krém na kůži
[delší doba]	- [ ] strojek
[delší doba]	- [ ] štípačky na nehty
- [ ] mikina/bunda
- [ ] kapesníky
[kafe]- [ ] chemex
[kafe]- [ ] zrnka
[kafe]- [ ] kafemlejnek
- [ ] špunty do uší
[autem]	- [náhradní klíčky od auta]

přespání
- [ ] ponožky, trenky, trička na {počet dní} dní
- [ ] igelitka na špinavé oblečení
- [ ] hygiena
	- [ ] kartáček
	- [ ] zubní pasta
	- [ ] šampón
	- [ ] ručník

elektronika
- [ ] notebook-related věci
	- [ ] notebook
	- [ ] nabíječka
- [ ] powerbanka
- [ ] kabeláž
	- [ ] USB-C
	- [ ] brick
	- [ ] HDMI (fakt, hodí se)
	- [ ] ethernet redukce
- [ ] sluchátka
[focení]- [ ] foťák + obal
[focení]- [ ] čtečka SD karet
[focení]- [ ] tripod (fakt!)

outdoor
- [ ] pevné boty
- [ ] venkovní kalhoty
- [ ] termoska
- [ ] pláštěnka/poncho
[noc]- [ ] reflexní prvky
[zima]- [ ] teplé oblečení (opravdu)
[zima]	- [ ] čepice
[zima]	- [ ] rukavice
[zima]	- [ ] šátek na krk
[slunce]- [ ] opalovací krém
[slunce]- [ ] sluneční brýle
[slunce]- [ ] kšiltovka
[plavání]- [ ] plavky (+ ručník)
[plavání]- [ ] boty do vody

lyžování
- [ ] páteřák
- [ ] zimní mikina, bunda, kalhoty
- [ ] 2x tlusté ponožky
- [ ] 2x rukavice
- [ ] nákrčník
- [ ] 2x kukla
- [ ] termoprádlo
- [ ] lyžařská helma, brýle
- [ ] snowboard + boty
- [ ] tyčinky/čokoláda
- [ ] termoska + čaj

lezení
[lano]- [ ] lano
[lano]- [ ] mágo do pasu
[lano]- [ ] sedák
[lano]- [ ] click-up
- [ ] lezačky
- [ ] nůžky
- [ ] náplasti
- [ ] tapy
[boulder]- [ ] boulder bag
[boulder]- [ ] matrace

protab
- [ ] myš
- [ ] podložka na myš
- [ ] baterka/čelovka

krimml
- [ ] krabičky na oběd
- [ ] zimní pneumatiky
