# This is the file containing information about all lists.
# The syntax is as follows:
#
# set name
# - lines...
#
# where lines could contain conditions:
# [condition]- stuff...
#
# and variables:
# - stuff... {variable}

basic
- [ ] peněženka
- [ ] klíče
- [ ] mobilní telefon
- [ ] Letherman nůž
- [ ] hygiena
	- [ ] balzám na rty
	- [ ] krém na kůži
[delší doba]	- [ ] strojek
[delší doba]	- [ ] štípačky na nehty
- [ ] kroužky na prsty
- [ ] mikina/bunda
- [ ] kapesníky
[zábava na večer]- [ ] karty (normální/koťátka)
[globální pandemie]- [ ] roušky na {počet dní} dní
[globální pandemie]- [ ] očkovací certifikát

indoor
- [ ] pohodlné oblečení
- [ ] přezuvky

přespání
- [ ] ponožky, trenky, trička na {počet dní} dní
- [ ] igelitka na špinavé oblečení
- [ ] hygiena
	- [ ] kartáček
	- [ ] zubní pasta
	- [ ] šampón
	- [ ] ručník

elektronika
- [ ] notebook-related věci
	- [ ] notebook
	- [ ] nabíječka
- [ ] wacom tablet + pero
- [ ] powerbanka
- [ ] kabeláž
	- [ ] USB-C
	- [ ] 2x brick
	- [ ] HDMI
	- [ ] 3.5mm jack
	- [ ] ethernet redukce
- [ ] sluchátka
[lan party]- [ ] roz-n-ka
[lan party]- [ ] switch
[zábava na večer]- [ ] Nintendo Switch (s dockem)
[zábava na večer]- [ ] disk s filmy
[natáčení/focení]- [ ] Osmo Action
[natáčení/focení]	- [ ] čtečka SD karet
[natáčení/focení]	- [ ] stativ

outdoor
- [ ] pevné boty
- [ ] venkovní kalhoty
- [ ] termoska
[noc]- [ ] reflexní prvky
[noc]- [ ] baterka/čelovka
[noc]- [ ] teplé oblečení
[noc]	- [ ] čepice
[noc]	- [ ] rukavice
[déšť]- [ ] pláštěnka/poncho
[slunce]- [ ] opalovací krém
[slunce]- [ ] sluneční brýle
[slunce]- [ ] kšiltovka
[plavání]- [ ] plavky (+ ručník)
[slackline]- [ ] slackline

lyžování
- [ ] páteřák
- [ ] zimní mikina, bunda, kalhoty
- [ ] 2x tlusté ponožky
- [ ] 2x rukavice
- [ ] nákrčník
- [ ] 2x kukla
- [ ] termoprádlo
- [ ] lyžařská helma, brýle
- [ ] snowboard + boty
- [ ] tyčinky/čokoláda
- [ ] termoska + čaj

párty
[alkohol]- [ ] Gin + Tonic + led + limetka
- [ ] kofola
- [ ] chipsy

lezení
[lano]- [ ] lano
[lano]- [ ] mágo do pasu
[lano]- [ ] sedák
[lano]- [ ] click-up
- [ ] lezačky
- [ ] nůžky
- [ ] náplasti
- [ ] tapy
[boulder]- [ ] boulder bag
[boulder]- [ ] matrace
